<div class="container">
    <h1>Registro de juegos</h1>
    <div class="form">
        <form [formGroup]="registroForm">
            <mat-form-field appearance="fill">
                <mat-label>Plataforma</mat-label>
                <mat-select value="0" formControlName="Plataforma">
                    <mat-option value="0">Seleccionar</mat-option>
                    <mat-option *ngFor = "let plataforma of plataformas" [value]="plataforma.id">{{plataforma.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Titulo del juego</mat-label>
                <input matInput formControlName="Videojuego">
            </mat-form-field>
            <button mat-raised-button [disabled]="registroForm.invalid || isZero" (click)="Submit()" color="primary">Guardar</button>
        </form>
    </div>
</div>
